// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #1c4728;
$green: #1c4728;
$sage: #6c8571;

// Specific
// =============================================================================
// Link
$link-color:       $green;
$link-focus-color: $green;
$link-hover-color: $sage;
// Selection
$selection-text-color:       $sage;
$selection-background-color: $green;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;

// Customs
$beige: #FFFFFF;
